job-application-tracker.json
{
  "name": "job-application-tracker",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_185785676146400308"
          ],
          "receivedAfter": "={{ $now.minus({ hours: 24 }).toISO() }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -528,
        -160
      ],
      "id": "61835d37-0fa4-4a90-ab0f-e83f8dad2134",
      "name": "Get many messages",
      "webhookId": "99748aec-dac9-4438-a5a6-ce9ae72420a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "a1fFPnhYnJOXp5fC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -160
      ],
      "id": "7b915542-3b00-4965-8963-e79d39f97a47",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16,
        -160
      ],
      "id": "a8882ef5-6184-4d72-87e0-27495663fbe0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "naUypdLra54kov1N",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1767c72-fde6-4779-8b65-b3cf886824cb",
              "leftValue": "={{ $json.is_relevant }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        -160
      ],
      "id": "985cad17-0831-4e5f-b674-3f09da0e170d",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert data extraction assistant processing a backlog of historical job application emails. \n\nAnalyze the provided email subject and body text. Perform the following tasks:\n\n1. RELEVANCE CHECK: Determine if this email is directly related to a job application you submitted, an interview update, a status change, an offer, or a rejection. \n   - If it is spam, a general newsletter, a promotional email, or unrelated to an active/past application, set the \"is_relevant\" field to false.\n\n2. EXTRACTION: If the email IS relevant (\"is_relevant\": true), extract the following fields:\n   - company_name: The company name.\n   - job_title: The title of the role (use \"Unknown\" if not mentioned).\n   - status: Carefully analyze the ENTIRE email content before choosing. Choose exactly ONE of these four statuses:\n  \n  * \"rejected\": If the email contains phrases indicating they are not moving forward, rejecting, or closing the application (e.g., \"not moving forward\", \"unsuccessful\", \"chosen other candidates\", \"keep your resume on file\", \"unfortunately\"). This takes priority over any polite compliments at the beginning of the email.\n  \n  * \"interview scheduled\": If the email explicitly asks to book a call, sends a calender invite, phone screen, technical test, or live interview.\n  \n  * \"cv shortlisted\": Only if they explicitly state your CV has been shortlisted. And hinting they might schedule interview soon.\n  \n  * \"offer received\": If they are extending a formal job offer or contract\n\n  * if none of the above, give a heading in a few words for me to show what the email was about. Example: account creation, application sent, etc. \n\nReturn your answer STRICTLY as a valid JSON object matching this schema. Do not include markdown code blocks around the JSON wrapper if using JSON mode:\n{    \n  \"time_received\": \"string or null\"\n  \"is_relevant\": boolean,\n  \"company_name\": \"string or null\",\n  \"job_title\": \"string or null\",\n  \"status\": \"string or null\",\n  \"reason_for_the_status\": \"string or null\"\n}\n\nEmail Subject: {{ $json.headers.subject }}\nEmail Body: {{ $json.text }}\nEmail Timestamp: {{ $json.date }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        -384
      ],
      "id": "e08953cf-3963-4cea-b00e-881147eb4489",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mLGQ0PPk35ksGP-61juZEYA25sKUTWTBS7vYaUL3DNU",
          "mode": "list",
          "cachedResultName": "Job applications tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mLGQ0PPk35ksGP-61juZEYA25sKUTWTBS7vYaUL3DNU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Relevant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mLGQ0PPk35ksGP-61juZEYA25sKUTWTBS7vYaUL3DNU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.company_name }}",
            "Date": "={{ $json.date }}",
            "Job title": "={{ $json.job_title }}",
            "Reason": "={{ $json.reason }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job title",
              "displayName": "Job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -176
      ],
      "id": "427d8cf9-bfd8-4e38-b1b0-52bb4d81f6a5",
      "name": "Relevant mails",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "su20LeQdnYs5zDx3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mLGQ0PPk35ksGP-61juZEYA25sKUTWTBS7vYaUL3DNU",
          "mode": "list",
          "cachedResultName": "Job applications tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mLGQ0PPk35ksGP-61juZEYA25sKUTWTBS7vYaUL3DNU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1157085199,
          "mode": "list",
          "cachedResultName": "Irrelevant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mLGQ0PPk35ksGP-61juZEYA25sKUTWTBS7vYaUL3DNU/edit#gid=1157085199"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.company_name }}",
            "Date": "={{ $json.date }}",
            "Job title": "={{ $json.job_title }}",
            "Reason": "={{ $json.reason }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job title",
              "displayName": "Job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        32
      ],
      "id": "237c74e7-e2ec-4e1a-a649-81aefb8e32cc",
      "name": "Irrelevant mails",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "su20LeQdnYs5zDx3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -144
      ],
      "id": "0fb6cd67-1edf-467a-9ccf-5492ed72c02a",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "waitBetweenTries": 1000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6169f3f-a87e-4a9e-9b0c-5bbff0da1d9c",
              "name": "company_name",
              "value": "={{ JSON.parse($json.output)?.company_name }}",
              "type": "string"
            },
            {
              "id": "8534e0ba-566c-4ee9-977b-8beaf3eb2b54",
              "name": "date",
              "value": "={{ JSON.parse($json.output)?.time_received }}",
              "type": "string"
            },
            {
              "id": "50e953ea-60df-4e63-b2e6-270d238ca32d",
              "name": "job_title",
              "value": "={{ JSON.parse($json.output)?.job_title }}",
              "type": "string"
            },
            {
              "id": "3fe100d5-ad24-401e-bfd8-65fb6dbc9d0b",
              "name": "status",
              "value": "={{ JSON.parse($json.output)?.status }}",
              "type": "string"
            },
            {
              "id": "62068034-ecb6-4fd2-a15f-78fceba33d0f",
              "name": "reason",
              "value": "={{ JSON.parse($json.output)?.reason_for_the_status }}",
              "type": "string"
            },
            {
              "id": "6014cc98-db1d-413c-8f36-80c38ea8550d",
              "name": "is_relevant",
              "value": "={{ JSON.parse($json.output)?.is_relevant}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -160
      ],
      "id": "4d46f58b-ef5e-484b-b5f7-b57b576a8b84",
      "name": "Map Data to Sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Relevant mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Irrelevant mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Map Data to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevant mails": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Irrelevant mails": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Data to Sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "j6sx7p8rwp3cNMBm",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "17d2f3e2-1432-41d8-94af-edf4f45d3b42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "514aa917481c9ac5339c8bdaf37f3244c7ec30c3fb03aef568c46617a8f617e7"
  },
  "id": "yZkEIJrCL2fo3dOF",
  "tags": []
}